footer {
  background: rgb(77, 184, 95);
  margin-top: 100px;
  padding: 50px 0;
}

footer .container {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  grid-gap: 30px;
}

footer ul {
  margin-bottom: 30px;
  display: flex; 
  flex-wrap: wrap; 
}

footer ul li {
  margin-right: 30px;
  margin-bottom: 10px; 
}

footer i {
  width: 40px;
  height: 40px;
  align-items: center;
  line-height: 40px !important;
  border-radius: 50%;
  background-color: black;
  text-align: center;
  margin-right: 20px;
  margin-top: 10px; 
}

footer span {
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  footer .container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  }
}
